.main{
    width:1200px;
	height:300px;
	margin:30px auto 0px;
	float: left;
}
.main .imgage {
	float: left;
	border: 1px solid #ccc;
	padding:10px;
	margin-right:10px;
	opacity:0.5;

}

div.imgage img
{
	display: inline;
	margin: 3px;
	border:1px solid #bebebe;
	width: 200px;
	height: 160px;
}
div.imgage a:hover img{
	border:1px solid #333333;
	filter:alpha(opacity=100); -moz-opacity:0;opacity:0;
}